.bubble-menu {
  display: flex;
  background-color: #0d0d0d;
  padding: 0.2rem;
  border-radius: 0.5rem;

  button {
    border: none;
    background: none;
    color: #fff;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0 0.2rem;
    opacity: 0.6;

    &:hover,
    &.is-active {
      opacity: 1;
    }
  }
}

.ProseMirror {
  > * + * {
    margin-top: 0.3em;
  }

  ul {
    list-style-type: disc;
    padding: 0 1rem;
  }
  ol {
    list-style-type: decimal;
    padding: 0 1rem;
  }
  .is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  .is-artwork-editor-empty:nth-child(-n + 2)::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  width: 100%;
}

.tiptap {
  margin-bottom: 0.8em;
  p {
    font-size: 1em;
  }
  em,
  s,
  strong,
  u,
  a {
    font-size: 1em;
  }
  a {
    color: dodgerblue;
    &:hover {
      color: royalblue;
      text-decoration: underline;
      cursor: pointer;
    }
    text-decoration: underline;
  }
  img {
    height: auto;
    max-width: 100%;

    &.hover {
      cursor: pointer;
    }

    &.ProseMirror-selectednode {
      outline: 3px solid #68cef8;
      cursor: pointer;
    }
  }
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.44em;
  }
  h3 {
    font-size: 1.17em;
  }
}

.ProseMirror:focus {
  outline: none !important;
}
